.hidden__desktop {
    display: block;
    img {
        border-radius: 5px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
}
.hidden__mobile {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
        border-radius: 5px;
        display: block;
        max-width: 35vw;
    }
}
.top {
    display: flex;
    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.moi__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
        border-radius: 5px;
    }
}
.moi__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    p {
        font-size: 17px;
        max-width: 80vw;
        text-align: start;
    }
    .skills {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            svg {
                height: auto;
                width: 5em;
            }
        }
    }
    @media screen and (min-width: $breakpoint-md) {
        width: 50%;
        h1 {
            font-size: 50px;
            margin-bottom: 30px;
        }
        p {
            font-size: 20px;
            max-width: 40vw;
            text-align: start;
        }
    }
}

.wrapper__qual {
    margin: auto;

    @media screen and (min-width: $breakpoint-md) {
        margin: 0;
    }
}
.qual {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;

    @media screen and (min-width: $breakpoint-md) {
        width: 50%;
    }
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    .left,
    .right {
        .funko {
            margin-top: 30px;
            max-height: 50vh;

            margin-right: 32px;

            @media screen and (min-width: 425px) {
                margin-right: auto;
                margin: auto;
            }
        }
        .bottom__text {
            max-width: 80vw;
            margin: 40px 0px;
            @media screen and (min-width: $breakpoint-md) {
                max-width: 50vw;
            }
        }
        h2 {
            font-size: 35px;
            margin: 50px 0px 30px 0px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hobbies {
            width: 100%;
            margin-bottom: 50px;
            margin-left: 0;
            margin-right: 20px;

            @media screen and (min-width: $breakpoint-md) {
                width: 45%;
            }

            h3 {
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
            }
            p {
                margin-top: 0;
                font-weight: 600;
            }
            img {
                border-radius: 5px;
                max-height: 150px;
            }
            margin-top: 30px;
            text-align: center;
            max-width: 60vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.me {
    flex-direction: column;
}

.bottom {
    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row;

        .left {
            display: flex;

            justify-content: center;
            align-items: center;
            width: 40vw;
            img {
                border-radius: 5px;
                height: 50vh;
            }
        }
        .right {
            width: auto;
            .hobbies {
                margin-top: 0px;
            }
        }
    }
}

.bottom__text {
    p {
        font-size: 20px;
        font-weight: bold;
        font-family: 'poppins', sans-serif;
    }
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80vw;
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom__text {
    max-width: 80vw;
    margin: 40px 0px;
    @media screen and (min-width: $breakpoint-md) {
        margin: 70px 0px;
        max-width: 30vw;
    }
}
.a {
    color: #a7c7c7;
}
.b {
    color: #f4948c;
}
.c {
    color: #758695;
}
.d {
    color: #28303d;
}
.e {
    color: #28303d;
}

.listhobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
    }
}

.qualidad {
    text-align: center;
    width: 100%;
    margin: 100px 0;

    h2 {
        @media screen and (min-width: $breakpoint-md) {
            margin: 0;
            width: 50%;
            margin-bottom: 40px;
        }
    }
}
.vid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 300px;
    @media screen and (min-width: $breakpoint-md) {
        margin-top: 75px;
        width: 80%;
        margin-left: 10%;
    }
}
.contente {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        margin: auto;
    }
}

.fot {
    nav {
        svg{
            width: 2em;
        height: 2em;
        }
        width: 70vw;
        @media screen and (min-width: 600px) {
            width: 50vw;
        }

        @media screen and (min-width: $breakpoint-md) {
            width: 30vw;
        }
    }
}

p {
    font-family: 'Poppins', sans-serif;
}

nav {
    svg:hover {
        
        fill: white;
        stroke: black;
    }
}
.wrapper__qual{
    margin-top: 20px;
}