.main--button{
        background-color: var(--color-primary);
        border: 2px transparent solid;
        border-radius: 8px;
        display: inline-block;
        padding: 5% 20%;
        font-size: var(--font-size-h3);
     
        transition: all 0.2s ease-out;

        &:hover {
            background-color: transparent;
            border-color: var(--color-primary);
            color: var(--color-primary);
        }
    }



    .button--small {
        font-size: 0.875rem;
        padding: 10px 25px;
    }

    .button--secondary{
        background-color: var(--color-bg-tertiary);

        &:hover{
            border-color: var(--color-bg-tertiary);
            color: var(--color-secondary);
        }
    }


    