model-viewer#reveal {
    --poster-color: blue;
  }

 model-viewer{
    background-color: transparent;
     width: 90vw;
  height: 70vh;
  
    
 }
 .model3D{
     overflow: hidden;
     height: 70vh;
 }
 .hero{
     background-image: url(../../assets/images/fond.png);
        height: 80.5vh;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (min-width: $breakpoint-md){
            height: 77.5vh;
        }
 }
 .userInput{
    width: 100vw;
    height: 100vh;
 }
 .wrapper__content{
     
 }