/* ==========================================================================
   modal / components
   ========================================================================== */

   .modal {
    --modal-padding: 60px;

    @include cover(fixed);

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    transform: scale();
    transition: opacity 0.8s $ease-out-expo 0.4s, transform 0s 0.8s;
    z-index: 20;

    .modal-is-active & {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.8s $ease-out-expo, transform 0s;
    }
}

.modal__scrim {
    @include cover();
    background-color: var(--color-black);
    opacity: 0.8;
}

.modal__box {
    background-color: var(--color-white);
    border-radius: 10px;
    color: var(--color-black);
    width: 80vw;
    position: relative;
    height: 80vh;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s $ease-in-expo;

    .modal-is-active & {
        opacity: 1;
        transform: scale(1);
        transition: all 0.4s $ease-out-expo 0.2s;
    }
}

.modal__content {
    
    a{
        margin-top: 200px;
        color: var(--color-primary);
    }
    h2{
        margin-bottom: 50px;
    }
    height: 100%;
    overflow: hidden;
    padding: var(--modal-padding);
    position: relative;

    img {
        width: 35%;
        height: 60%;
        position: absolute;
        top: 10%;
        left: 50%;
        border-radius: 10px;
    }
}

.modal__close {
    --bar-width: 2px;
    --button-size: 40px;

    background: transparent;
    border: none;
    cursor: pointer;
    height: var(--button-size);
    outline: none;
    padding: 0;
    position: absolute;
    right: calc(var(--modal-padding) / 2);
    top: calc(var(--modal-padding) / 2);
    width: var(--button-size);

    &::before,
    &::after {
        background: var(--color-black);
        bottom: 0;
        content: '';
        height: var(--bar-width);
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        position: absolute;
        transition: transform 0.3s $ease-out-expo;
        width: 80%;
    }

    &::before {
        transform: rotate(-45deg);
    }
    &::after {
        transform: rotate(45deg);
    }

    &:hover {
        opacity: 0.7;
        &::before {
            transform: rotate(0);
        }
        &::after {
            transform: rotate(0);
        }
    }
}

.modal-is-active body {
    overflow: hidden;
}

@media screen and (max-width: $breakpoint-md){
    .modal__content{
        img{
            display: none;
        }
    }
}

