.projet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  h1{
      margin-bottom: 50px;

  }
    
}


    .lefty{
        display: flex;
    
    justify-content: space-between;
    align-items: center;
        flex-direction: column;
    }

    .righty{
        display: flex;
    
    justify-content: space-between;
    align-items: center;
        flex-direction: column;
    }
    
    @media screen and (min-width: $breakpoint-md){
        .lefty{
            flex-direction: row-reverse !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60vw;
            margin: 100px 0px;
            align-items: flex-start;
        }
        
        .righty{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
        margin: 50px 0px;
        align-items: flex-start;
        }
        
    }

    .right {

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
       
        margin-bottom: 50px;
        h2{
            margin-top: 50px;
            font-size: 20px;
            max-width: 80wv;
        }
        h3{
            margin-top: 25px;
            font-size: 15px;
            max-width: 80wv;
        }
        a{
            
            display: none;
            max-height: 52px;
            cursor: default;
            margin: 50px auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p{
            font-size: 15px;
            max-width: 70vw;
            margin: 15px auto;
        }
        button{
            height: 100%;
        width: 100%;
            cursor: pointer;
            background-color: black;
            color: white;
            padding: 10px 20px;
            margin: auto;
            font-family: 'Poppins', sans-serif;
            border-radius: 5px;
            width: 300px;
            height: 52px;
            border-color: black;
            transition: all 0.8s ease-in-out;
        }

        button:hover{
            background-color: white;
            color: black;

        }


        @media screen and (min-width: $breakpoint-md){
            display: flex;
            justify-content: flex-start;
            text-align: left;
            h2{
               margin-top: 0px;
                font-size: 20px;
                max-width: 80wv;
            }
            h3{
                margin-top: 5%;
                font-size: 15px;
                max-width: 80wv;
            }
            p{
                margin-top: 20%;
                font-size: 15px;
                max-width: 20vw;
            }
            button{
                margin-top: 50%;
                background-color: black;
                color: white;
                padding: 10px 20px;
                font-family: 'Poppins', sans-serif;
                border-radius: 5px;
            }
            
        }
    }

    .left__pro{
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            max-width: 80vw;
            border-radius: 5px;
        }
        @media screen and (min-width: $breakpoint-md){
            img{
                max-width: 30vw;
                border-radius: 5px;
            }
        }
    }

    
        nav {
           
           svg{
            width: 2em;
            height: 2em;
           }
          
           width: 50vw;
           @media screen and (min-width: $breakpoint-md){
               width: 30vw;
           }
           ul {
              display: flex;
               flex-direction: row;
               justify-content: space-between;
           }
           li {
               list-style-type: none;
       
           }
       }
  .fot{
      display: flex;
      margin: auto;
      justify-content: center;
      margin-top: 50px;
      @media screen and (min-width: $breakpoint-md){
      margin-top: 150px; 
      margin-bottom:25px;
    }

  }
  .fot1{
    
    nav{
        width: 70vw;
        @media screen and (min-width: 600px){
            width: 50vw
        }
    
        @media screen and (min-width: $breakpoint-md){
            width: 30vw;
        }
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 0px; 
   

}}