.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  h1{
      margin-bottom: 50px;

  }
    
}


    .lefty{
        display: flex;
    
    justify-content: space-between;
    align-items: center;
        flex-direction: column;
    }

    .righty{
        display: flex;
    
    justify-content: space-between;
    align-items: center;
        flex-direction: column;
    }
    
    @media screen and (min-width: $breakpoint-md){
        .lefty{
            flex-direction: row-reverse !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60vw;
            margin: 50px 0px;
            align-items: flex-start;
        }
        
        .righty{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
        margin: 50px 0px;
        align-items: flex-start;
        }
        
    }

    .right {

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
       
        margin-bottom: 50px;
        h2{
            margin-top: 50px;
            font-size: 20px;
            max-width: 80wv;
        }
        h3{
            margin-top: 25px;
            font-size: 15px;
            max-width: 80wv;
        }
        p{
            font-size: 15px;
            max-width: 70vw;
        }
        button{
            background-color: black;
            color: white;
            padding: 10px 20px;
            font-family: 'Poppins', sans-serif;
            border-radius: 5px;
        }


        @media screen and (min-width: $breakpoint-md){
            display: flex;
            justify-content: flex-start;
            text-align: left;
            h2{
               margin-top: 0px;
                font-size: 20px;
                max-width: 80wv;
            }
            h3{
                margin-top: 5%;
                font-size: 15px;
                max-width: 80wv;
            }
            p{
                margin-top: 20%;
                font-size: 15px;
                max-width: 20vw;
            }
            button{
                margin-top: 50%;
                background-color: black;
                color: white;
                padding: 10px 20px;
                font-family: 'Poppins', sans-serif;
                border-radius: 5px;
            }
            
        }
    }

    .left__pro{
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            max-width: 80vw;
            border-radius: 5px;
        }
        @media screen and (min-width: $breakpoint-md){
            img{
                max-width: 30vw;
                border-radius: 5px;
            }
        }
    }