.snackbar {
    transition: all 0.5s $ease-in-expo;
    transform: (translateX(0)) translateY(-4px);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;

    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: var(--color-secondary-lighter);
}
.snackbar-is-hidden {
    
    .snackbar {
        
    transform: (translateX(-100%)) translateY(-4px);
        position: fixed;

        right: 0;
        transition: all 0.5s $ease-in-expo;
    }
}

.snackbar__Hide {
    transition: all 0.5s $ease-in-expo;
    transform: (translateX(-100%)) translateY(-4px);
    position: fixed;
    bottom: 0px;
    right: 0;
}
.snackbar-forever-hidden{
    display: none;
}