/* ==========================================================================
   video / component
   ========================================================================== */
   .container__video{
       width: 50%;
   }
   .video {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    height: 0;
    
    padding-bottom: 56.25%;
    position: relative;
    cursor: pointer;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .icon {
        transform-origin: center;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        transition: 0.4s $ease-out-expo;
        transition-property: opacity, transform;
        transform-origin: 0 0;
        transform: translate(-50%, -50%);
        z-index: 2;
        .is-video-ready{
            opacity: 0;
        }
    }

    &:hover .icon {
        transform: scale(1) translate(-50%, -50%);
        transform: rotate(360deg);
    }
}

.video__media{
    @include cover();
}

.video__partenaire{
display: flex;
align-items: center;
justify-content: center;
}