/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

   :root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #292B26;

    // Couleurs du projet
    --color-primary: #000;
    --color-secondary-lighter: #B3BBB4;
    --color-secondary: #292B26;
    --color-fail: #443D36;
    --color-neutral-dark:#858980;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-white);
    --color-bg-tertiary: #292B26;
}
